.shareBar { background-position: -92px -552px; }
#bigPercent span { margin-top: 25px; }
#profileEngagement dt { font-size: 16px; padding-top: 8px; }
.slideInContent { background: rgb(234, 234, 234); }
.comment.me { width: 642px; }
.comment.other { width: 642px; background-position: 476px center; }
#mainMenu nav ul li a { font-family: Helvetica, Arial, sans-serif; font-weight: normal; letter-spacing: 0.01em !important; }
#mainMenu nav ul li a:hover, #mainMenu ul li a.active { font-family: Helvetica, Arial, sans-serif; font-weight: bold; }
a.slide-in-close { background-position: -780px -1002px; margin-top: 15px; }
.container {
	width: 1024px !important;
}
.marginLeft { margin-left: 0; }